.inter-font{
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.forum-regular {
  font-family: "Forum";
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: "Forum";
}
:root
{
  --bg-color: #ffffff;
  --btn-color: #4575be;
  --dark-color: #242424;
  --helper-color: #99b9ff;
}
html
{
  font-size: 62.5%;
  position: relative;
}
body
{
  margin: 0px;
  min-width: 32rem;
  min-height: 100vh;
  background-color: var(--bg-color);
}
h1
{
  font-size: 5.4rem;
  line-height: 1.1;
  font-weight: bold;
  font-family: "Forum";
}
p,
li,
label,
input,
textarea
{
  font-size: 1.8rem;
  line-height: 1.56;
  letter-spacing: 0.1rem;
  word-spacing: 0.06rem;
  color: var(--btn-color);
}
a
{
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 0.1rem;
  color: var(--btn-color);
  text-decoration: inherit;
  font-family: "Forum";
}
li
{
  list-style: none;
}

.Toastify{
  font-family: "Forum" !important;
  font-size: 1.5rem;
}

/*Layout*/
.container
{
  max-width: 140rem;
  padding: 4rem 2.4rem;
  margin: 0 auto;
}

/*Reusable components*/
button
{
    text-transform: capitalize;
    color: hsl(0, 0%, 100%);
    background-color: hsl(216, 48%, 51%);
    font-weight: bold;
    border-radius: 15px;
    padding: 10px;
    font-size: large;
    display: flex;
    justify-content: center;
    margin: 20px;
    border: solid transparent;
    letter-spacing: 0.2rem;
}
button:hover
{
    color:hsl(0, 0%, 80%);
    transition: 0.5s;
    transform: scale(1.1,1.1);
    cursor:pointer;
    border: solid transparent;
}
button:not(:hover)
{
    transition: 0.5s;
}


/*Form*/
form
{
    display:flex;
    flex-direction: column;
}
form div
{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}
form div::placeholder
{
  padding:5px;
}
form div textarea
{
  display: flex;
  resize: none;
}
form div input
{
  width:260px;
  height:30px;
  padding:5px;
}
form
{
    display:flex;
    flex-direction: column;
}
form div
{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}

/*Footer*/
footer
{
    position: absolute;
    text-align: center;
    left:0;
    bottom:0;
    width:100%;
    padding: 20px;
    background-color: var(--btn-color);
}
footer p
{
  color:white;
}

/*Scrollbar*/
::-webkit-scrollbar {
  width: 8px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--btn-color);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #294775;
}

/*Grid*/
.grid-one-col
{
  grid-template-columns: repeat(1, 1fr);
}

.grid-two-cols
{
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-cols
{
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  display: grid;
}

.grid-four-cols
{
  grid-template-columns: repeat(4, 1fr);
}

.update-container
{
  display: flex;
  flex-direction: column;
  justify-self: center;
}