.section-hero
{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}
.container-hero-and-image
{
    display:flex;
    margin-top: -50px;
}
.titles
{
    text-align: center;
    color: var(--dark-color);
    animation-name: intro;
    animation-duration: 3s;
    animation-iteration-count: 1;
}
.left-side
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
img
{
    border-radius: 20px;
}
h2
{
    font-size:xx-large;
    font-family: "Forum";
    margin: 10px;
    text-align: center;
}
.buttons
{
    display: flex; 
    justify-content: center;
}
.facts
{
    display: flex;
    align-items: center;
    margin-top:100px;
    border-radius: 20px;
    box-shadow: 10px 10px 5px rgb(206, 204, 204);
}
.facts div
{
    display:flex;
    flex-direction: column;
    margin:20px;
    align-items: center;
}
.facts h2
{
    font-size:40px;
}
.get-started-today
{
    display:flex;
    justify-content: space-between;
    margin-top:30px;
}
.get-started-info p
{
    color:black;
}
.buttons-get-started
{
    display:flex;
    margin-left:-20px;
}
.get-started-info
{
    display:flex;
    flex-direction: column;
    margin-left:100px;
    justify-content: center;
}
.get-started-info p,h1,small
{
    margin-top: 10px;
}
.get-started-info small
{
    font-size: 30px;
}
@keyframes intro {
    from{
        opacity: 0;
    }
    to{
        opacity:1;
    }
}
@media (max-width:970px)
{
    img
    {
        visibility: hidden;
    }
    .right-side
    {
        display: none;
    }
    .facts
    {
        flex-direction: column;
    }
    .get-started-img
    {
        display: none;
    }
}