.navbar {
    margin: 0 auto;
    padding: 25px 20px 10px 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* <-- This is the new line */
}

.logo-brand
{
    font-size: 1.8rem;
    line-height: 1.56;
    letter-spacing: 0.1rem;
    word-spacing: 0.06rem;
    color: var(--btn-color);
    display: flex;
}
.logo-brand img
{
    align-items:center;
    justify-content: center;
    display:flex;
    visibility: hidden;
}
ul
{
    display: flex;
    gap: 3.2rem;
}

@media (max-width:800px)
{
    .closed
    {
        display: none;
    }

    .open {
        position: fixed;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100%;
        background: white;
        box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.1);
        transition: left 0.5s ease-in-out;
    }

    .open ul {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .open.open {
        left: 0;
    }

    .nav-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); 
        backdrop-filter: blur(5px); 
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    }

    .nav-overlay.open {
        visibility: visible;
        opacity: 1;
    }

    

    nav ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    nav ul li {
        text-align: left;
        margin: 15px 0;
    }

    .logo-brand img 
    {
        visibility: visible;
        cursor: pointer;
    }
    .logo-brand
    {
        width:100%;
        justify-content: space-between;
    }
    .logo-brand li
    {
        margin-right:auto;
        margin-left:auto;
    }
    .navbar
    {
        justify-content: center;
        margin:0px;
    }
}

